{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    2006 — В Университете Карлсруэ разрабатывается прототип биореактора, содержащий 500-1000 л культуры водорослей. Этот реактор используется для доказательства реализуемости экономически эффективных систем такого рода в течение ближайших пяти лет.
<div align="left">
    <br>1.Конкурентное ингибирование фотосинтеза водорода со стороны углекислого газа
    <br>2.Эффективность фотосинтеза возрастает, если с фотосистемой II связан бикарбонат
    <br>3.Экономическая реализуемость. Энергетическая эффективность — коэффициент преобразования солнечного света в 
    <br>4.Водород — должна достичь 7—10 % (водоросли в естественных условиях достигают в лучшем случае 0,1 %).
</div>
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='BIOREACTOR.png')}}" class="fz__minimized" alt="клик для увеличения" title="Кустарный биореактор">
  </div>
{% endblock %}
