{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    Со стороны получения выгоды ферма водородопроизводящих водорослей площадью равной площади штата Техас производила бы достаточно водорода для покрытия потребностей всего мира. Около 25 000 км² достаточно для возмещения потребления бензина в США. Это в десять раз меньше чем используется в сельском хозяйстве США для выращивания сои.
    <br>
    Экономическая сторона: Около 200 тысяч $ только на окончательно исследований и создание реактора.
    Еще примерно 400 тысяч $ на строительство самого завода, ввоз оборудования, выращивание и последующее создание системы путей для ввоза сухой биомассы , а так же многотонные резервуары для хранения такого большого количества водорода.
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='ECONOMY.png')}}" class="fz__minimized" alt="клик для увеличения" title="Профит">
  </div>
{% endblock %}
