{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    <div align="left">
        1.Когда технологию можно ввести в эксплуатацию. - около 12 лет<br>
        2.Каков рассход топлива по сравнению с обычными двигателями 
        рассход  1,6 л/100 км дизельными двигателями;
          2,0 л/100 км по автомобилям с бензиновыми;
        Средний расход водородного топлива составил всего 0,55 кг на 100 км пути. Отметим, что водородный бак Toyota Mirai вмещает 5,6 кг водорода, а полная заправка от станций с давлением 700 бар занимает менее 5 минут. Большой рабочий диапазон. 1 грамм водорода позволяет получить втрое больше энергии по сравнению с 1 г бензина.
        <br><br>
        3.Можно ли залить просто водород в бак и ехать.- Нет, само топливо состоит из 90% водорода и 10% кисларода
        Можете оставлять вопросы в форме обратной связи и мы на них обязательно ответим<br>
    </div>
    Можете оставлять вопросы в форме обратной связи и мы на них обязательно ответим (нет).
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='FAQ.png')}}" class="fz__minimized" alt="клик для увеличения" title="Toyota Mira">
  </div>
{% endblock %}
