{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    Каждая машина вырабатывает около 9кг углекислого газа.  Ежедневно на дорогу во всем мире выезжает порядка 500млн автомобилей.Получается, что ежедневно машинами вырабатывается около 4500000000кг углекислого  газа.
    <br>
    У водородных двигателей простая конструкция, отсутствие  дорогостоящих систем топливоподачи, которая к тому же опасны и ненадежны, КПД намного выше чем у ДСВ
    На специальных заправках топливный бак заправляют сжатым водородом. Он поступает в топливный элемент, где есть мембрана, которая разделяет собой камеры с анодом и катодом. В первую поступает водород, а во вторую — кислород из воздухозаборника.
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='HENGINE.png')}}" class="fz__minimized" alt="клик для увеличения" title="Заправка для водородных двигателей">
  </div>
{% endblock %}
