{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    В 1939 году немецкий исследователь Ханс Гаффрон, работая в Чикагском университете, обнаружил, что изучаемая им зелёная водоросль Chlamydomonas reinhardtii иногда переключается с производства кислорода на производство водорода. Гаффрон не смог установить причину этого переключения. 

    В конце 1990-х годов профессор Анастасис Мелис, работая исследователем в Беркли, обнаружил, что в условиях недостатка серы хламидомонады прекращают осуществлять фотосинтез с выделением кислорода и переключается на выделение водорода. Он обнаружил ответственный за это поведение фермент — гидрогеназу, не функционирующую в присутствии кислорода.
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='HISTORY.png')}}" class="fz__minimized" alt="клик для увеличения" title="Ханс Гаффрон">
  </div>
{% endblock %}
