{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
  сегодня пойдет речь о семействе одноклеточных водрослей хламидоманад,а точнее о истории,самом проэте, биореакторе,водородногом двигателе, экологической и экономической стороны.для данного вида водорослей характерна выработка водорода при особых условиях. данный сайт создан для ознокамления людей с этими водорослями повышая их экологическую грамотность и вместе с этим освещая данную тему

  
</div>

<div class="image__wrapper" id="img-to-c">
  <img src="{{ url_for('static', filename='MAIN.jpg')}}" class="fz__minimized" alt="клик для увеличения" title="Хламидоманады под микроскопом">
</div>
{% endblock %}
