{% extends 'base.html' %}


{% block content %}
<div class="container rounded" id="aboutus">
    Фотосистема II первый функциональный комплекс электрон-транспортной цепи хлоропластов. Он расположен в мембранах тилакоидов всех растений, водорослей и цианобактерий. Поглощая энергию света в ходе первичных фотохимических реакций, он формирует сильный окислитель — димер хлорофилла , который через цепь окислительно-восстановительных реакций способен вызвать окисление воды.
    
</div>
<div class="image__wrapper" id="img-to-c">
    <img src="{{ url_for('static', filename='PHOTOSYS.png')}}" class="fz__minimized" alt="клик для увеличения" title="Фотосистема 2 под микроскопом">
  </div>
{% endblock %}
